<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.vogella.rcp.intro.editor.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="de.vogella.rcp.intro.editor.Perspective"
            id="de.vogella.rcp.intro.editor.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.vogella.rcp.intro.editor.application"
            name="DeplayTest">
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.vogella.rcp.intro.editor.MyEditor"
            default="false"
            id="de.vogella.rcp.intro.editor.MyEditor"
            name="editor">
      </editor>
   </extension>

</plugin>
