<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.vogella.rcp.intro.dialogs.standard.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="de.vogella.rcp.intro.dialogs.standard.Perspective"
            id="de.vogella.rcp.intro.dialogs.standard.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.vogella.rcp.intro.dialogs.standard.application"
            name="DeplayTest">
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.vogella.rcp.intro.dialogs.standard.handler.OpenDialog"
            id="de.vogella.rcp.intro.dialogs.standard.openDialog "
            name="openDialog ">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="dialog">
            <command
                  commandId="de.vogella.rcp.intro.dialogs.standard.openDialog"
                  label="openDialog "
                  style="push"
                  tooltip="openDialog the application">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
